@(movie: models.movie.Movie)
<script src="@routes.Assets.versioned("javascripts/moviePage.js")" type="text/javascript"></script>

@main("Movie") {
    <h1>Welcome to Play!</h1>


        @movie.getBackgroundColour


        <img class="mask1" onload="changeBackground('@movie.getBackgroundColour')" src="/assets/@movie.getMoviePoster">
        
        @for(colour <- movie.generateColours(10)){
           
            <div id="div" onClick="changeBackground()"  style="background-color:@colour; width:15em;">
                    <a href="@routes.HomeController.changeMovieColour(movie.getId, colour)"> @colour</a>
            </div>

        }
}
  