@(movie: models.movie.Movie)
<script src="@routes.Assets.versioned("javascripts/moviePage.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/moviePage.css")">


@main("Movie") {


    <div id="main"> 

    <img id="bannerImage" class="mask1" src='/assets/images/movies/movieBanners/@movie.getId-Banner.jpg'>
    <h1 id="movieTitle">@movie.getTitle</h1>

        <img id="moviePoster" onload="changeBackground('@movie.getBackgroundColour')" src="/assets/@movie.getMoviePoster">
        
        <br>
        <hr>
        <h3>Release Date: @movie.getReleaseDate</h3>

        <h2>@movie.getMovieRating.getTotal</h2>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div id="fillerContainer">



        @for(i <- 0 until 10){
                <a href="@routes.HomeController.rateMovie(i, movie.getId)">
                        <div onmouseover="fillBlocks(this)" onmouseout="emptyBlocks()" onclick="rate(this)" id="@i" class="box">
                                        <img class="starImage" src="PNGIX.com_star-outline-png_1183450.png">
                        </div>
                </a>    
        }
        
        </div>


        <div id="colour-select-container">
            @for(colour <- movie.generateColours(10)){
            
            <a href="@routes.HomeController.changeMovieColour(movie.getId, colour)">
                <div id="colour-select" onClick="changeBackground()"  style="background-color:@colour;">
                </div>
            </a>

            }
        </div> <!--Div for color select container-->    
    
    <br>

    </div> <!---  Main Div  ---->
}
  